<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td><img src="__IMG__/{$vo.logo}" alt="合作伙伴Logo" style="height:50px;width: 80px "></td>
<td>{$vo.name}</td>
<td>{$vo.class==1 ? '技术':'品牌'}</td>
<td style="padding: 0">
    <input type="number" name="sort[{$vo.id}]" value="{$vo.sort}" style="width: 60px;"
        class="input-text text-c order-input" data-id="{$vo.id}"></td>
<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
<td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>