<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>蜂保网</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mystyle.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/myfooter.css"/>
    <style type="text/css">
    	
    </style>
</head>
	<body>
		<div class="mybg">
		 	<span ><a href="#">查看规则</a></span>
		 	
		</div>
		<div class="aui-content aui-margin-b-15 " >
			<ul class="aui-list aui-media-list aui-margin-l-10 aui-margin-r-10 mybgcolor" >
				<li class="contentStyle" >
					共邀请<span style="color:rgb(194, 136, 68)">10</span>位小伙伴
				</li>
				
				<li class="aui-list-item mybg-border" >
					<div class="aui-media-list-item-inner">
						<div class="aui-list-item-media aui-margin-r-0">
							<img src="__STATIC__/img/personhead.png" class="person-picture">
						</div>
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								<div class="aui-list-item-title myLeft"  >138****1234</div>
							</div>
							<div class="aui-list-item-title myLeft" >
								席位文笔
							</div>
						</div>
					</div>
					<div class="aui-info aui-padded-t-0">
						<div class="aui-info-item">
							<span class="aui-margin-l-5">备注：</span>
							<input placeholder="请输入备注" />
						</div>
						<div >
							<a href="#" class="mycolor">保存</a>
						</div>
					</div>
				</li>
	
			</ul>
		</div>
	<div class="aui-content aui-margin-b-15  " >
		<ul class="aui-list aui-media-list aui-margin-l-10 aui-margin-r-10 border-none mybgcolor" >
			
			
			<li class="aui-list-item mybg-border" >
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media aui-margin-r-0" >
						<img src="__STATIC__/img/personhead.png" class="person-picture" >
					</div>
					<div class="aui-list-item-inner">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title myLeft"  >138****1234</div>
						</div>
						<div class="aui-list-item-title myLeft" >
							席位文笔
						</div>
					</div>
				</div>
				<div class="aui-info aui-padded-t-0" style="padding-top:0">
					<div class="aui-info-item">
						<span class="aui-margin-l-5">备注：</span>
						<input placeholder="请输入备注" />
					</div>
					<div >
						<a href="#" class="mycolor">保存</a>
					</div>
					
				</div>
			</li>

		</ul>
	</div>
	<div class="aui-content aui-margin-b-15 " >
		<ul class="aui-list aui-media-list aui-margin-l-10 aui-margin-r-10 border-none  mybgcolor" >
			<li class="aui-list-item mybg-border" >
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media aui-margin-r-0">
						<img src="__STATIC__/img/personhead.png" class="person-picture" >
					</div>
					<div class="aui-list-item-inner">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title myLeft"  >138****1234</div>
						</div>
						<div class="aui-list-item-title myLeft" >
							席位文笔
						</div>
					</div>
				</div>
				<div class="aui-info aui-padded-t-0">
					<div class="aui-info-item">
						<span class="aui-margin-l-5 ">备注：</span>
						<input placeholder="请输入备注" />
					</div>
					<div >
						<a href="#" class="mycolor">保存</a>
					</div>
				</div>
			</li>

		</ul>
	</div>
		<div class="myfooter">
			{include file="public:footer"}
		</div>
    <script src="__STATIC__/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/js/myfooter.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
