<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>蜂保网</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mystyle.css" />
</head>
	<style type="text/css">
		
	</style>
<body>
    <div class="aui-tab head-fontSize" id="tab" >
        <div class="aui-tab-item aui-active-1" >全部</div>
        <div class="aui-tab-item">待付款</div>
        <div class="aui-tab-item">带配送</div>
        <div class="aui-tab-item">已完成</div>
    </div>
	<div class="aui-margin-t-10 " >
	        <div >
				<ul class="aui-list aui-media-list " style="border: 0;  ">
					{volist name="waitSend" id="vo"}
					<a href="{:Url('order/orderDetail',array('id'=>$vo.id))}">
						<li class="aui-list-item aui-list-item-arrow  myfonts-11" >
							<div class="aui-media-list-item-inner">
								<div class="aui-list-item-inner">
									<div class="aui-list-item-text">
										<div class="aui-list-item-title">{$vo.LicenseNo}</div>
										<div class="aui-list-item-right">{$vo.Source==1 ?'太平洋保险':'人寿保险'}￥{$vo.Money}</div>
									</div>
									<div class="aui-list-item-text">
										<div class="aui-list-item-title">
											<p>{$vo.Name}</p>
											<p style="color:limegreen" >
												<span class="aui-iconfont aui-icon-correct   myfonts-12" ></span>
												已完成
											</p>
										</div>
										<div class="aui-list-item-right">
											<span class="btn-11 aui-font-size-10 mycolor myfonts-111 " >奖￥750.22</span>
										</div>
									</div>
									<div class="aui-list-item-text">
										<div class="aui-list-item-title">&nbsp;</div>
										<div class="aui-list-item-right sybx-fontSize aui-ellipsis-1"><span>{$vo.addtime|date="Y-m-d H:i:s",###}</span></div>
									</div>
								</div>
							</div>
						</li>

						<li class="aui-list-item aui-list-item-middle border-none" >
							<div class="aui-media-list-item-inner" >

								<div class="aui-list-item-inner" style="min-width: 8rem;">
									<div class="aui-list-item-text aui-ellipsis-1 sybx-fontSize" >
										交强险单号：{$vo.ForcetNo}
									</div>
									<div class="aui-list-item-text aui-ellipsis-1 sybx-fontSize" >
										商业保险单号：{$vo.BiztNo}
									</div>
								</div>
								<a href="{:Url('order/uploading',array('order_id'=>$vo.id))}">
									<div class="aui-list-item-media aui-margin-r-10 border-none" style="margin-left: 9rem;">
										<div class="aui-btn   myfonts-1-1" >
											上传凭证
										</div>
									</div>
								</a>
							</div>
						</li>
					</a>
					{/volist}
				</ul>
	        </div>
    	</div>

	<div class="myfooter">
		{include file="public:footer"}
	</div>
    
    <script src="__STATIC__/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(function(){
    		$(".aui-tab").on("click","div",function(){
    			$(this).addClass("aui-active-1").siblings().removeClass("aui-active-1")
    			
    		})
    	})
    </script>
</body>

</html>