<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/aui.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/api.css"/>-->
		<!--<link rel="stylesheet" type="text/css" href="css/aui-slide.css"/>-->
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/login.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/weui.css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/weuix.css"/>-->
		<!--<script type="text/javascript" src="js/api.js"></script>-->
		<!--<script type="text/javascript" src="js/aui-slide.js"></script>-->

		<script src="__STATIC__/js/zepto.min.js"></script>
		<style>
			.btnlogin {
				background: url("__STATIC__/img/loginbtn.png") no-repeat 100%;
				background-size: 100%;
				color: wheat;
			}
			
			.weui-cell__hd {
				margin-right: -5rem;
				position: absolute;
				left: 1rem;
				top: 0.1rem;
			}
			
			.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
				content: '\EA06';
				color: #C68B47;
			}
		</style>
	</head>

	<body class="aui-bg-white">

		<header class="aui-bar aui-bar-nav aui-bar-light">
			<a class="aui-pull-left aui-btn" href="">
				<span class="aui-iconfont aui-icon-left text-js"></span>
			</a>
			<div class="aui-title">&nbsp;</div>
			<a class="aui-pull-right aui-btn" href="javascript:history.back(-1)">
				<span class="text-js"></span>
			</a>
		</header>

		<div class="aui-bg-white  cooperative_partner first">
			<div class="aui-padded-15">
				<div class="login-logo-img">
					<img class="logo" src="__STATIC__/img/logo.jpg" alt="">
				</div>
			</div>

		</div>

		<div class="aui-bg-white aui-padded-15">

			<div class="aui-row">
				<!--手机号-->
				<div class="aui-col-xs-12">
					<div class="aui-padded-b-15">
						<div class="aui-input-row border-input">
							<div class="phoneimg">
								<img src="__STATIC__/img/password.jpg" alt="" />
							</div>
							<input class="pb" type="text" placeholder="请输入旧密码">
						</div>
					</div>

				</div>
				<!--手密码-->
				<div class="aui-col-xs-12">
					<div class="aui-padded-b-15">
						<div class="aui-input-row border-input">
							<div class="phoneimg">
								<img src="__STATIC__/img/password.jpg" alt="" />
							</div>
							<div class="eyeimg">
								<img title="显示密码" class="ico" id="ico" onclick="xs()" src="__STATIC__/img/eye2.png" alt="" />
							</div>
							<input class="pb" id="in" type="text" placeholder="请输入新密码">

						</div>
					</div>
				</div>
			</div>

			

			<div class="aui-row">
				<div class="aui-col-xs-12">
					<div class="aui-padded-25 aui-margin-t-15">
						<div class="aui-btn aui-btn-block aui-btn-sm btnlogin">
							确定
						</div>
					</div>

				</div>


			</div>
			<script>
				function xs() {
					//var a = document.getElementById("inp").value;
					var aa = document.getElementById("ico").title;
					if(aa == "隐藏密码") {
						document.getElementById("in").type = "password";
						document.getElementById("ico").title = "显示密码";
						document.getElementById("ico").src = "__STATIC__/img/eye.jpg";
					} else {
						document.getElementById("ico").title = "隐藏密码";
						document.getElementById("in").type = "text";
						document.getElementById("ico").src = "__STATIC__/img/eye2.png";
					}

				}
			</script>
	</body>

</html>